*{
  /* background-color: black; */
 margin: 0;
  padding: 0;
  
  color:#fff;
}
body{
  font-family: Arial;
}

.hero{
  /* position: relative; */
  min-height: 100vh;
   min-width: 100%;
  background-image: url(images/backgroudlight.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}

#navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 10%;
  padding-top: 15px;
}

.logo_image{
 height: 30px;
}

.items {
   display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 70px;
    font-size: large;
}

.items a{
    text-decoration: none;
    color: rgb(245, 241, 241);
  
}
.items a:hover {
  color: rgb(193, 190, 190);
}

.buttons-click button {
  font-size: large;
  border-radius: 50px;
  padding: 8px 16px;
  box-shadow: none;
  
}
.buttons-click #b2{
background-color: white;
  color: black;
}

.buttons-click #b1{
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.buttons-click #b1:hover {
  border: 1px rgb(255, 255, 255) solid;
    background-color: transparent;
  color: rgb(255, 255, 255);
}


.head{
  text-align: center;
  font-size:250%;
  padding: 80px 30px;
}
.head h5{
  font-size:70%;
}